.light{
    background: rgb(211, 210, 208);
    .modal_overlay .my_modal{
        background: rgb(255, 245, 232);
        color: rgb(18, 23, 49);
    }
    .styles{
        background: #f9fafb;
        .box__styles{
            background: rgb(255, 245, 232);
            color: rgb(18, 23, 49);
        }
    }
}