*{
    font-family: 'Poppins', sans-serif;
    transition: all .1s ease-in;
    cursor: url(./NeonCursor08-Orange.cur), default;
}

body{
    margin: 35px 150px 50px 150px;
}

.heading{
    color: #173A56;
    margin-top: 35px;
}

.icon{
    height: 32px;
    width: 32px;
}

.site__name{
    font-size: 28px;
    font-weight: bolder;
    margin-left: 11px;
}

.style__text{
    margin-right: 29px;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.style__text:hover{
    color: #FF9900;
    text-decoration: underline;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.sign__in{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    background: white;
    width: 102px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    margin-left: 30px;
}

.sign__in:hover{
    border:2px solid #FF9900;
    background: #FF9900;
    text-decoration: underline;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.sign__up{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    background: #FF9900;
    border: none;
    width: 102px;
    height: 46px;
    border-radius: 4px;
    margin-left: 15px;
}

.sign__up:hover{
    border: 1px solid #BCD0E5;
    background: white;
    text-decoration: underline;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.contentbox{
    margin-top: 40px;
}

.title{
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.text{
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin: 30px 0 45px 0;
}

.get__started{
    width: 175px;
    height: 53px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 30px;
}

.get__started:hover{
    border:2px solid #FF9900;
    color: #FF9900;
    background: white;
    text-decoration: underline;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.watch{
    border: none;
    background: white;
}

.watch:hover{
    border:1px solid white;
    background: white;
    transition: none;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.watch__video{
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

.watch__video:hover{
    color: #173A56;
    text-decoration: underline;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.title_contentbox2{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-top: 110px;
    text-align: center;
}

.name__part{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin: 30px 0 13px;
}

.text__part{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.icon__part{
    margin-top: 54px;
}

.sign__up__now{
    border: none;
    background: #FF9900;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    Width: 175px;
    Height: 53px;
    margin-top: 10px;
    margin-bottom: 150px;
}

.sign__up__now:hover{
    border:2px solid #FF9900;
    color: #FF9900;
    background: white;
    text-decoration: underline;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.contentbox2{
    border-bottom: solid 1px rgba(188, 208, 229, 0.496913);
}

.info__column1{
    margin-right: 175px;
}

.info:hover{
    text-decoration: underline;
    color: #FF9900;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

.form-control{
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 21px;
}

.input__box{
    margin-left: 81px;
}

.footer{
    color: #173A56;
    margin-top: 100px;
}

.btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #FF9900;
    Width:131px;
    Height: 39px;
    cursor: url(./NeonLinkSelect01-Red.cur), default;
}

